/* create course text-shadow */
.text-shadow{
    text-shadow: -3px 4px 4px rgba(115, 185, 255, 1);
  }

.glass-btn{
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.glass-btn::after{
    content: "";
    position: absolute;
    top: 0px;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent, rgb(255, 255, 255, .4), transparent);
    transition: 0.5s;
}

.glass-btn:hover:after{
    left: 100%
}

.glass-btn span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.5s;
}

.glass-btn:hover span:nth-child(1){
    width: 100%;
    transform: translateX(100%);
}

.glass-btn span:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.5s;
}

.glass-btn:hover span:nth-child(2){
    width: 100%;
    transform: translateX(-100%);
}

.glass-btn span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background: #fff;
    transition: 0.5s;
}

.glass-btn:hover span:nth-child(3){
    height: 100%;
    transform: translateY(100%);
}

.glass-btn span:nth-child(4){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
    background: #fff;
    transition: 0.5s;
}

.glass-btn:hover span:nth-child(4){
    height: 100%;
    transform: translateY(-100%);
}