.custom-input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 0 1px transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .custom-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .custom-input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    outline: none; /* This removes the default focus outline */
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.3s ease;
    background-color: transparent;
    margin-right: 8px;
  }
  
  .custom-checkbox:checked {
    background-color: transparent;
  }
  
  .custom-checkbox:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  }

  .btn{
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }

  .btn:hover{
    background-color: rgba(255, 255, 255, 0.18);
  }

  
  
  
  
  
