/* profile shadow */
.navbar-profile-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.putField {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .putField {
    width: 300px;
  }
}
@media (min-width: 1300px) {
  .putField {
    width: 500px;
  }
}
@media (min-width: 900px) {
  .putField {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .putField {
    width: 200px;
  }
}
@media (max-width: 330px) {
  .putField {
    width: 190px;
  }
}

.icons {
  margin: 0 200px;
  position: absolute;
  right: -60px;
  gap: 40%;
}
@media (max-width: 500px) {
  .icons {
    visibility: hidden;
    position: absolute;
    left: -1000px;
  }
}

@media (min-width: 900px) {
  .navW {
    left: 230px;
    width: 85%;
  }
}

@media (max-width: 900px) {
  .navW {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .icons {
    right: 40px;
  }
}
.pfp {
  position: absolute;
  right: 10px;
}
@media (min-width: 900px) {
  .pfp {
    position: absolute;
    right: 100px;
  }
}
@media (min-width: 1200px) {
  .pfp {
    right: 80px;
  }
}
@media (max-width: 500px) {
  .hide-icons {
    visibility: hidden;
  }
}
.box {
  right: 2%;
}
@media (max-width: 1400px) {
  .box {
    right: 4%;
  }
}
@media (max-width: 1300px) {
  .box {
    right: 6%;
  }
}
@media (max-width: 1200px) {
  .box {
    right: 9%;
  }
}
@media (max-width: 1100px) {
  .box {
    right: 11%;
  }
}
@media (max-width: 1000px) {
  .box {
    right: 13%;
  }
}
@media (max-width: 900px) {
  .box {
    right: 2%;
  }
}

