#navItem a.active {
  background-color: #ffffff33;
  border: #ffffff solid left 2px;
  color: #ffffff;
}
.closeBtn {
  visibility: hidden;
}
@media (max-width: 900px) {
  .closeBtn {
    visibility: visible;
  }
}