.sideBar {
  width: 20%;
}

@media (max-width: 1000px) {
  .sideBar {
    width: 25%;
  }
}

@media (max-width: 850px) {
  .sideBar {
    width: 35%;
  }
}

@media (max-width: 550px) {
  .sideBar {
    width: 55%;
  }
}
