.border-t-color{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.border-r-color{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.old-color{
    color: rgba(255, 255, 255, 0.4);
}

.new-color{
    color: #fff;
}