@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.title {
  color: #ffffff;
  font-size: 16px;
}
.tableTitle {
  font-size: 10.8px;
  color: #ffffffd9;
}
.subtitle {
  color: #ffffffd9;
}
.bgTransparent {
  background-color: rgba(0, 0, 0, 0.192);
}
