@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.title {
  color: #ffffff;
  font-size: 16px;
}
.tableTitle {
  font-size: 10.8px;
  color: #ffffffd9;
}
.subtitle {
  font-size: 15px;
  color: #ffffffd9;
}
.bgTransparent {
  background-color: rgba(0, 0, 0, 0.192);
}

.visuallyHidden {
  visibility: visible;
}
.createFamily {
  font-family: "Kalam", cursive;
}

/* calender */
.borderTransparent {
  border-width: 1px 1px 1px 1px;
  border-color: rgba(255, 254, 254, 0.192);
}
